<h2 style="color: rgb(19, 180, 126);">Your blog</h2>

<div class="d-flex justify-content-center">
    <form class="d-flex flex-column align-item-center" action="photobook" method="POST">
        <div class="mb-2">
            <input name="photo" placeholder="Link your photo..." type="text" class="form-control">
        </div>
        <div class="mb-2">
            <input name="post" placeholder="Your text" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary"
            style="background-color: rgb(19, 180, 126); border: none">Отправить</button>
    </form>
</div>

<hr />

<div data-post class="continer row">
    {{#each listOfPosts}}
    <div data-id="{{this.idPost}}" class="col-sm-4 mb-4" style="border-radius: 10px;">
        <img src="{{this.photo}}" class="photo" style="width: 300px; border-radius: 10px; object-fit: cover"
            alt="photo" />
        <div class="card-body text-left" style="width: 300px; overflow-y: auto">
            <p class="card-text">{{this.post}}</p>
        </div>
        <button data-action="delete" type="button" class="btn btn-outline-danger btn-sm float: right">Удалить</button>
        {{!-- не удалось сделать текст максимально слева от края, а кнопку "удалить" справа внизу --}}
    </div>
    {{/each}}
</div>