<h4>Добро пожаловать в photoBlog. Здесь вы можете делиться своими кадрами с другими людьми.<h4>
        <h5>Для продолжения <a href="/auth/signin">войдите</a> или <a href="/auth/signup">зарегистрируйтесь</a></h5>