<form method="POST" action="/auth/signin">
    <input name="email" placeholder="email" type="email" />
    <input name="password" placeholder="password" type="password" />

    <button>Sign In</button>
</form>