{{#if name}}
<h4 class="text-center" style="color: rgb(18, 56, 6);">Здравствуйте, {{name}}</h4>
{{/if}}

<nav>

    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        {{#if name}}
        <li>
            <a href="/main">Добавить фото</a>
        </li>
        <li>
            <a href="/auth/signout">Выйти</a>
        </li>
        {{else}}
        <li>
            <a href="/secret">photoBlog</a>
        </li>
        <li>
            <a href="/auth/signup">Зарегистрироваться</a>
        </li>
        <li>
            <a href="/auth/signin">Войти</a>
        </li>
        {{/if}}
    </ul>
</nav>
{{!-- <nav>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Главная</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        {{#if name}}
        <li><a class="dropdown-item" href="/main">Добавить фото</a></li>
        <li><a class="dropdown-item" href="/auth/signout">Выйти</a></li>
        {{else}}
        <li><a class="dropdown-item" href="/secret">photoBlog</a></li>
        <li><a class="dropdown-item" href="/auth/signup">Зарегистрироваться</a></li>
        <li><a class="dropdown-item" href="/auth/signin">Войти</a></li>
        {{/if}}
    </ul>
</nav> --}}